Alerta de Gases Combustibles.json
[{"id":"9852bdd6.ded998","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e1b91f4d.ccc73","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9566c6d7.6216a","type":"ui_group","z":"","name":"Sensores","tab":"e1b91f4d.ccc73","disp":true,"width":"6","collapse":false},{"id":"cc6d1314.c45318","type":"mqtt-broker","z":"","name":"","broker":"postman.cloudmqtt.com","port":"18283","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"da6cc68b.b6bef","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e62f10da.f6dd78","type":"ui_group","z":"","name":"Botonces","tab":"e1b91f4d.ccc73","disp":true,"width":"6","collapse":false},{"id":"abfb62ee.12eee","type":"ui_gauge","z":"9852bdd6.ded998","name":"","group":"9566c6d7.6216a","order":1,"width":0,"height":0,"gtype":"gage","title":"Nivel de Gases","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":380,"wires":[]},{"id":"d5c10f7e.f0031","type":"mqtt in","z":"9852bdd6.ded998","name":"","topic":"/gases","qos":"2","datatype":"auto","broker":"cc6d1314.c45318","x":590,"y":380,"wires":[["abfb62ee.12eee"]]},{"id":"47de1ee6.09c488","type":"ui_text","z":"9852bdd6.ded998","group":"9566c6d7.6216a","order":1,"width":0,"height":0,"name":"","label":"Estado","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"4c49f38a.e34ee4","type":"mqtt in","z":"9852bdd6.ded998","name":"","topic":"alerta","qos":"2","datatype":"auto","broker":"cc6d1314.c45318","x":590,"y":320,"wires":[["47de1ee6.09c488"]]}]